/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #060818;
	--dark-2: #0E1726;
	--dark-3: #191E3A;
	--secondary-color: #0c1427;
	--ternary-color: #25d5e4;
	--gray-color: #494f50;
	--secondary-text-color: #887b75;
	--text-primary-color: #fff;
}

body {
	font-size: 14px;
	background-color: var(--primary-color);
}
.custom-scroll::-webkit-scrollbar {
	width: 5px;
	background-color: black;
	margin-left: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background-color: white;
}
